body {
    font-family: 'Lato', sans-serif;
    background-color: #fafafa
}
.title {
    text-align: center;
    font-family: 'Pacifico', cursive;
    font-weight: 500;
    font-size: 6em;
    margin-top: 25px;
}
.subtitle {
    text-align: center;
    font-size: 3em;
    font-family: 'Pacifico', cursive;
}
.mail {
    text-align: center;
    font-size: 2.5em
}
.menu-sites {
    font-size: 4.5em;
    text-align: center
}
.nav-projetos {
    width: 100%
}
.img-nav {
    width: 100px;
    height: 100px
}
.descricao {
    margin-top: 20px;
}
.descricao img {
    width: 100%
}
#project-title {
    font-family: 'Pacifico', cursive;
    font-size: 3.5em;
}
.role {
    font-size: 2.5em
}
#project-status {
    font-size: 2.5em
}
#project-image {
    width: 75%;
    height: 75%
}
#project-description {
    font-size: 1.25em
}
.nav-pills > li.active > a {
    border-radius: 50%;
    background-color: #333;
    padding-left: 10px;
    padding-right: 10px;
}
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    background-color: #000;
}
